In [1]:
import pandas as pd
gdp_table = pd.read_csv("GDP.csv")

In [2]:
gdp_table

,Country Code,Ranking,Unnamed: 2,Economy,Millions USD,Unnamed: 5
0,USA,1,NaN,United States,23315081,NaN
1,CHN,2,NaN,China,17734063,NaN
2,JPN,3,NaN,Japan,4940878,NaN
3,DEU,4,NaN,Germany,4259935,NaN
4,IND,5,NaN,India,3176295,NaN
...,...,...,...,...,...,...
235,NaN,.. Not available. \nNote: Table list 217 econ...,NaN,NaN,NaN,NaN
236,NaN,NaN,NaN,NaN,NaN,NaN
237,NaN,NaN,NaN,NaN,NaN,NaN
238,NaN,GDP data source: http://data.worldbank.org/dat...,NaN,NaN,NaN,NaN
239,NaN,GDP projections: http://data.worldbank.org/da...,NaN,NaN,NaN,NaN

In [12]:
gdp_dict = dict()
for index , row in gdp_table.iterrows():
      gdp_dict[row['Economy']] = row['Millions USD']
print(gdp_dict)

{'United States': '23315081', 'China': '17734063', 'Japan': '4940878', 'Germany': '4259935', 'India': '3176295', 'United Kingdom': '3131378', 'France': '2957880', 'Italy': '2107703', 'Canada': '1988336', 'Korea, Rep.': '1810956', 'Russian Federation': '1778783', 'Brazil': '1608981', 'Australia': '1552667', 'Spain': '1427381', 'Mexico': '1272839', 'Indonesia': '1186093', 'Netherlands': '1012847', 'Saudi Arabia': '833541', 'Türkiye': '819035', 'Switzerland': '800640', 'Poland': '679445', 'Sweden': '635664', 'Belgium': '594104', 'Thailand': '505947', 'Ireland': '504183', 'Israel': '488527', 'Argentina': '487227', 'Norway': '482175', 'Austria': '480368', 'Nigeria': '440834', 'South Africa': '419015', 'Bangladesh': '416265', 'United Arab Emirates': '415022', 'Egypt, Arab Rep.': '404143', 'Denmark': '398303', 'Singapore': '396987', 'Philippines': '394086', 'Malaysia': '372981', 'Hong Kong SAR, China': '369176', 'Vietnam': '366138', 'Iran, Islamic Rep.': '359713', 'Pakistan': '348263', 'Chile': '317059', 'Colombia': '314464', 'Finland': '297302', 'Romania': '284088', 'Czech Republic': '281778', 'Portugal': '253663', 'New Zealand': '249886', 'Peru': '223249', 'Greece': '214874', 'Iraq': '207889', 'Ukraine': '200086', 'Kazakhstan': '197112', 'Hungary': '181848', 'Qatar': '179677', 'Algeria': '163044', 'Morocco': '142866', 'Slovak Republic': '116527', 'Ethiopia': '111271', 'Kenya': '110347', 'Cuba': '107352', 'Puerto Rico': '106526', 'Ecuador': '106166', 'Kuwait': '105960', 'Dominican Republic': '94243', 'Sri Lanka': '88927', 'Oman': '88192', 'Guatemala': '85986', 'Luxembourg': '85506', 'Bulgaria': '84056', 'Ghana': '77594', "Côte d'Ivoire": '70043', 'Uzbekistan': '69239', 'Croatia': '68955', 'Belarus': '68205', 'Tanzania': '67841', 'Angola': '67404', 'Lithuania': '66445', 'Myanmar': '65092', 'Costa Rica': '64282', 'Panama': '63605', 'Serbia': '63082', 'Slovenia': '61749', 'Uruguay': '59319', 'Congo, Dem. Rep.': '55351', 'Azerbaijan': '54622', 'Tunisia': '46687', 'Jordan': '45744', 'Cameroon': '45338', 'Turkmenistan': '45231', 'Libya': '42817', 'Uganda': '40530', 'Bolivia': '40408', 'Latvia': '39854', 'Paraguay': '39495', 'Bahrain': '38869', 'Estonia': '37191', 'Nepal': '36289', 'Sudan': '34326', 'Macao SAR, China': '30124', 'El Salvador': '28737', 'Honduras': '28489', 'Cyprus': '28408', 'Zimbabwe': '28371', 'Senegal': '27625', 'Cambodia': '26961', 'Papua New Guinea': '26594', 'Iceland': '25602', 'Trinidad and Tobago': '24460', 'Bosnia and Herzegovina': '23365', 'Lebanon': '23132', 'Zambia': '22148', 'Haiti': '20944', 'Gabon': '20217', 'Burkina Faso': '19738', 'Mali': '19140', 'Lao PDR': '18827', 'Georgia': '18629', 'Albania': '18256', 'West Bank and Gaza': '18037', 'Botswana': '17615', 'Malta': '17364', 'Benin': '17145', 'Guinea': '16092', 'Mozambique': '15777', 'Mongolia': '15286', 'Niger': '14915', 'Afghanistan': '14787', 'Jamaica': '14658', 'Madagascar': '14473', 'Nicaragua': '14013', 'Brunei Darussalam': '14007', 'Armenia': '13861', 'North Macedonia': '13825', 'Moldova': '13679', 'Congo, Rep.': '13366', 'Malawi': '12627', 'Namibia': '12311', 'Equatorial Guinea': '12269', 'Chad': '11780', 'Mauritius': '11529', 'Bahamas, The': '11209', 'Syrian Arab Republic': '11080', 'Rwanda': '11070', 'New Caledonia': '10071', 'Mauritania': '9996', 'Kosovo': '9412', 'Tajikistan': '8746', 'Monaco': '8596', 'Kyrgyz Republic': '8543', 'Togo': '8413', 'Guyana': '8044', 'Somalia': '7628', 'Isle of Man': '7315', 'Bermuda': '7287', 'Guam': '6123', 'Liechtenstein': '6114', 'French Polynesia': '6055', 'Cayman Islands': '5898', 'Montenegro': '5861', 'Maldives': '5406', 'Barbados': '4844', 'Eswatini': '4743', 'Fiji': '4296', 'Virgin Islands (U.S.)': '4204', 'Sierra Leone': '4042', 'Faroe Islands': '3650', 'Timor-Leste': '3621', 'Liberia': '3509', 'Djibouti': '3483', 'Andorra': '3330', 'Aruba': '3126', 'Greenland': '3076', 'Suriname': '2985', 'Burundi': '2780', 'Curaçao': '2700', 'Bhutan': '2540', 'Central African Republic': '2516', 'Lesotho': '2496', 'Belize': '2492', 'Gambia, The': '2038', 'Cabo Verde': '1936', 'St. Lucia': '1691', 'Guinea-Bissau': '1639', 'Solomon Islands': '1631', 'San Marino': '1541', 'Antigua and Barbuda': '1471', 'Seychelles': '1454', 'Comoros': '1296', 'Northern Mariana Islands': '1182', 'Grenada': '1123', 'Vanuatu': '956', 'Turks and Caicos Islands': '943', 'St. Vincent and the Grenadines': '904', 'St. Kitts and Nevis': '861', 'Samoa': '844', 'American Samoa': '709', 'Dominica': '554', 'São Tomé and Principe': '527', 'Tonga': '469', 'Micronesia, Fed. Sts.': '404', 'Marshall Islands': '260', 'Palau': '218', 'Kiribati': '207', 'Nauru': '133', 'Tuvalu': '63', 'British Virgin Islands': ' -   ', 'Channel Islands': ' -   ', 'Eritrea': ' -   ', 'Gibraltar': ' -   ', "Korea, Dem. People's Rep.": ' -   ', 'Sint Maarten (Dutch part)': ' -   ', 'South Sudan': ' -   ', 'St. Martin (French part)': ' -   ', 'Venezuela, RB': ' -   ', 'Yemen, Rep.': ' -   ', nan: nan, 'World': '96513077', 'East Asia & Pacific': '30911686', 'Europe & Central Asia': '25082834', 'Latin America & Caribbean': '5454429', 'Middle East & North Africa': '3676799', 'North America': '25310703', 'South Asia': '4088771', 'Sub-Saharan Africa': '1920899', 'Low income': '506017', 'Lower middle income': '8742535', 'Upper middle income': '27104087', 'High income': '59829674'}